@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNovaFont.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: ProximaNova;
}


@media screen and (max-width:374px) {
  
  .mobileView{

    margin-top: 350px;
    padding: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.3;
  }
  .section-headerMobile{
    
    display: flex;
    padding: 0 0 10px 20px;
    width: 70%;
  }
  .icon-logoMobile{

    height: 40px;
    margin-right: 110px;
    margin-top: 25px;
  }
  .icon-notificationsMobile{

    height: 27px;
    margin-top: 30px;
    padding-bottom: 7px;
  }
  .icon-messageMobile{

    height: 27px;
    margin-top: 30px;
    margin-left: 20px;
    padding-bottom: 7px;
  }
  .section-navbar {
    
    position: fixed;
    z-index: 1;
    bottom: 0;
    top: auto; 
    display: flex;
    padding: 10px 0px 0px 20px;
    border-top: solid 1px rgba(89, 84, 84, 0.373);
    width: 100%;
    background-color: white;
  }
  .buttons {
  
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
  }
  .buttons img {
    
    height: 25px;
    margin-right: 10px;
  }
  .buttons h1 {
    
    display: none;
    font-size: 18px;
    
  }
  .txt-logo{
       
      display: none;
      margin-bottom: 37px;
      margin-left: 10px;
      padding-top: 20px;
  }
  .img-logo{
       
      display: none;
      margin-bottom: 37px;
      margin-left: 10px;
      padding-top: 20px;
  }
  .button-thread{
      
      display: none;
      margin-top: 70px;
  }
  .button-explore,.button-message,.button-more,.button-notification{
  
      display: none;
  }

  .section-body{
    
    width: 100%;
    height: 100%;
    position: absolute;
    
  }
  .section-center{

    width:100% ;
    height: 100%;
  }
  .section-story{
 
    width: 100%;
    display: flex;
    height: 150px;
    overflow: scroll;
    margin-bottom: 15px;
    padding-left: px;
  }
  .section-story::-webkit-scrollbar{

    display: none;
  }
  .user-story{

    width: auto;
    height: 100%;
    display: flex;
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .user-story img{

    height: 75px;
    border-radius: 50%;
    border: solid 3px rgb(224, 0, 0);
    padding: 3px;
  }
  .user-story p{

    font-size: 15px;
    margin-top: 5px;
    margin-left: 10px;
  }

  .my-story{

    width: auto;
    height: 100%;
    display: flex;
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .my-story img{

    height: 80px;
    border-radius: 50%;
    padding: 3px;
  }
  .my-story p{

    font-size: 13px;
    margin-top: 5px;
    margin-left: 15px;
  }

  .add{

    width: 25px;
    height: 25px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    margin: 45px 0px 0px 55px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .add div{
    width: 20px;
    height: 20px;
    background-color: #004ef6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .add img{

    height: 10px;
    border: none;
    filter: invert(1);
  }

  .section-suggestion{
    
    display: none;
    width: 30%;
    height: 100%;
  }
  .section-post{
     
    width: 100%;
  }
  .post{

    border-bottom: solid 1px rgba(128, 128, 128, 0.282);
    margin-bottom: 10px;
    padding-bottom: 20px;
  }
  .post-header {

    display: flex;
    padding: 10px 0px 0px 5px;
  }
  .img-profile{

    height: 45px;
    border-radius: 50%;
    margin-right: 5px;
  }
  .post-bottom{

    padding-left: 5px;
  }
  .div-username{

    display: flex;
  }
  .txt-username{

    font-size: 17px;
    padding: 5px;
  }
  .icon-verify{
   
    display: none;
    height: 13px;
    margin-top: 8px;
    width: 13px;
  }
  .txt-time{
    
    display: none;
    font-size: 14px;
    margin-top: 10px;
  }
  .txt-location{

    font-size: 13px;
    margin-top: 2px;
    margin-left: 4px;
  }
  .icon-menu{
    
    display: none;
    margin: 10px 0px 0px  210px;
    height: 25px;
    width: 25px;
  }
  .icon-menuMobile{

    margin: 10px 0px 0px  55%;
    height: 25px;
    width: 25px;
  }
  .post-body img{

    width: 100%;
    height: 500px;
    margin-top: 10px;
  }
  .icons{

    width: 28px;
    height: 28px;
    margin-right: 15px;
    margin-top: 10px;
  }
  .icon-like{

    margin-left: 10px;
  }
  .icon-share{

    margin-right: 50%;
  }
  .icon-save{

    width: 28px;
    height: 28px;
    margin-top: 10px;
  }
  .txt-likes{

    margin-top: 10px;
    margin-left: 10px;
    font-weight: 600;
  }
  .post-discrption{

    display: flex;
    margin-top: 12px;
  }
  .post-discrption h1{

    font-size: 15px;
    margin-right: 5px;
    margin-left: 10px;
    font-weight: 900;
  }
  .post-discrption p{

    font-size: 15px;
    margin-top: 0px;
  }
  .txt-comments{

    font-size: 13px;
    margin-top: 10px;
    margin-left: 10px;
    color: grey;
  }
  .inp-comments{
    
    display: none;
    outline: none;
    border: none;
    font-size: 13px;
    margin-top: 3px;
    margin-left: 10px;
    color: grey;
  }
  .txt-timeMobile{

    font-size: 12px;
    margin-left: 10px;
    margin-top: 5px;
    color: grey;
  }
}
@media screen and (min-width:375px) and (max-width:481px) {
  
  .mobileView{

    margin-top: 350px;
    padding: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.3;
  }
  .section-headerMobile{
    
    display: flex;
    padding: 0 0 10px 20px;
    width: 70%;
  }
  .icon-logoMobile{

    height: 40px;
    margin-right: 150px;
    margin-top: 25px;
  }
  .icon-notificationsMobile{

    height: 27px;
    margin-top: 30px;
    padding-bottom: 7px;
  }
  .icon-messageMobile{

    height: 27px;
    margin-top: 30px;
    margin-left: 20px;
    padding-bottom: 7px;
  }
  .section-navbar {
    
    position: fixed;
    z-index: 1;
    bottom: 0;
    top: auto; 
    display: flex;
    padding: 10px 0px 0px 35px;
    border-top: solid 1px rgba(89, 84, 84, 0.373);
    width: 100%;
    background-color: white;
  }
  .buttons {
  
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
  }
  .buttons img {
    
    height: 25px;
    margin-right: 10px;
  }
  .buttons h1 {
    
    display: none;
    font-size: 18px;
    
  }
  .txt-logo{
       
      display: none;
      margin-bottom: 37px;
      margin-left: 10px;
      padding-top: 20px;
  }
  .img-logo{
       
      display: none;
      margin-bottom: 37px;
      margin-left: 10px;
      padding-top: 20px;
  }
  .button-thread{
      
      display: none;
      margin-top: 70px;
  }
  .button-explore,.button-message,.button-more,.button-notification{
  
      display: none;
  }

  .section-body{
    
    display: ;
    width: 100%;
    height: 100%;
    position: absolute;
    
  }
  .section-center{

    width:100% ;
    height: 100%;
  }
  .section-story{
 
    width: 100%;
    display: flex;
    height: 150px;
    overflow: scroll;
    margin-bottom: 15px;
    padding-left: px;
  }
  .section-story::-webkit-scrollbar{

    display: none;
  }
  .user-story{

    width: auto;
    height: 100%;
    display: flex;
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .user-story img{

    height: 80px;
    border-radius: 50%;
    border: solid 3px rgb(224, 0, 0);
    padding: 3px;
  }
  .user-story p{

    font-size: 15px;
    margin-top: 5px;
    margin-left: 10px;
  }
  .my-story{

    width: auto;
    height: 100%;
    display: flex;
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .my-story img{

    height: 80px;
    border-radius: 50%;
    padding: 3px;
  }
  .my-story p{

    font-size: 13px;
    margin-top: 5px;
    margin-left: 15px;
  }

  .add{

    width: 25px;
    height: 25px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    margin: 45px 0px 0px 55px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .add div{
    width: 20px;
    height: 20px;
    background-color: #004ef6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .add img{

    height: 10px;
    border: none;
    filter: invert(1);
  }

  .section-suggestion{
    
    display: none;
    width: 30%;
    height: 100%;
  }
  .section-post{
    
    
    width: 100%;

  }
  .post{

    border-bottom: solid 1px rgba(128, 128, 128, 0.282);
    margin-bottom: 10px;
    padding-bottom: 20px;
  }
  .post-header {

    display: flex;
    padding: 10px 0px 0px 5px;
  }
  .img-profile{

    height: 45px;
    border-radius: 50%;
    margin-right: 5px;
  }
  .post-bottom{

    padding-left: 5px;
  }
  .div-username{

    display: flex;
  }
  .txt-username{

    font-size: 17px;
    padding: 5px;
  }
  .icon-verify{
   
    display: none;
    height: 13px;
    margin-top: 8px;
    width: 13px;
  }
  .txt-time{
    
    display: none;
    font-size: 14px;
    margin-top: 10px;
  }
  .txt-location{

    font-size: 13px;
    margin-top: 2px;
    margin-left: 4px;
  }
  .icon-menu{
    
    display: none;
    margin: 10px 0px 0px  210px;
    height: 25px;
    width: 25px;
  }
  .icon-menuMobile{

    margin: 10px 0px 0px  58%;
    height: 25px;
    width: 25px;
  }
  .post-body img{

    width: 100%;
    height: 500px;
    margin-top: 10px;
  }
  .icons{

    width: 28px;
    height: 28px;
    margin-right: 15px;
    margin-top: 10px;
  }
  .icon-like{

    margin-left: 10px;
  }
  .icon-share{

    margin-right: 55%;
  }
  .icon-save{

    width: 28px;
    height: 28px;
    margin-top: 10px;
  }
  .txt-likes{

    margin-top: 10px;
    margin-left: 10px;
    font-weight: 600;
  }
  .post-discrption{

    display: flex;
    margin-top: 12px;
  }
  .post-discrption h1{

    font-size: 15px;
    margin-right: 5px;
    margin-left: 10px;
    font-weight: 900;
  }
  .post-discrption p{

    font-size: 15px;
    margin-top: 0px;
  }
  .txt-comments{

    font-size: 13px;
    margin-top: 10px;
    margin-left: 10px;
    color: grey;
  }
  .inp-comments{
    
    display: none;
    outline: none;
    border: none;
    font-size: 13px;
    margin-top: 3px;
    margin-left: 10px;
    color: grey;
  }
  .txt-timeMobile{

    font-size: 12px;
    margin-left: 10px;
    margin-top: 5px;
    color: grey;
  }
}


@media screen and (min-width:481px) and (max-width:676px){

  .section-headerMobile{

    display: none;
  }
  .section-navbar {

    position: fixed;
    padding: 20px 0px 0px 10px;
    border-right: solid 1px rgba(89, 84, 84, 0.277);
    width: px;
    height: 100vh;
  }
  .buttons {
  
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
  }
  .buttons img {
  
    height: 25px;
    margin-right: 10px;
  }
  .buttons h1 {
    
    display: none;
    font-size: 18px;
    
  }
  .txt-logo{
      
      display: none;
      margin-bottom: 37px;
      margin-left: 10px;
      padding-top: 20px;
  }
  .img-logo{
  
      margin-bottom: 37px;
      /* margin-left: 10px; */
      padding-top: 20px;
  }
  .button-thread{
  
      margin-top: 70px;
  }

  .section-body{

    width: 90%;
    height: 100%;
    /* background-color: lightcyan; */
    position: absolute;
    left: 70px;
  }
  .section-center{

    width:100% ;
    height: 100%;
    /* background-color: lightcoral; */
  }

  .section-story{

    width: 100%;
    display: flex;
    height: 120px;
    overflow: scroll;
    padding-top: 15px;
  }
  .section-story::-webkit-scrollbar{

    display: none;
  }
  .user-story{

    width: 90px;
    height: 100%;
    display: flex;
    margin-right: 5px;
    margin-left: 5px;
    flex-direction: column;
    align-items: center;
  }
  .story-outer{

    background: linear-gradient(to right, #f99b4a,#c92d8c);
    height: 65px;
    height: 65px;
    border-radius: 100%;
    padding: 2px;
  }
  .user-story img{

    height: 65px;
    border-radius: 50%;
  }
  .user-story p{

    font-size: 13px;
    margin-top: 10px;
  }
  .my-story{
    display: none;
  }
  .section-suggestion{
    
    display: none;
    width: 30%;
    height: 100%;
    /* background-color: brown; */
  }
  .section-post{
    
    width: 450px;
    height: 710px;
    margin-left: 30px;
    /* background-color: #f99b4a; */
  }
  .post{

    border-bottom: solid 1px rgba(128, 128, 128, 0.282);
    margin-bottom: 10px;
    padding-bottom: 20px;
  }
  .post-header {

    display: flex;
    padding: 10px 0px 0px 5px;
  }
  .img-profile{

    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
  }
  .div-username{

    display: flex;
  }
  .txt-username{

    font-size: 15px;
    padding: 5px;
  }
  .icon-verify{
   
    display: none;
    height: 13px;
    margin-top: 8px;
    width: 13px;
  }
  .txt-time{

    font-size: 14px;
    margin-top: 5px;
  }
  .txt-location{

    font-size: 12px;
    margin-left: 4px;
  }
  .icon-menu{

    margin: 10px 0px 0px  305px;
    height: 25px;
    width: 25px;
  }
  .icon-menuMobile{

    display: none;
  }
  .post-body img{

    width: 100%;
    height: 500px;
    margin-top: 10px;
    border-radius: 5px;
  }
  .icons{

    width: 23px;
    height: 23px;
    margin-right: 10px;
    margin-top: 7px;
  }
  .icon-like{

    margin-left: 2px;
  }
  .icon-share{

    margin-right: 323px;
  }
  .icon-save{

    width: 23px;
    height: 23px;
    margin-top: 7px;
  }
  .txt-likes{

    margin-top: 10px;
    font-weight: 600;
  }
  .post-discrption{

    display: flex;
    margin-top: 5px;
  }
  .post-discrption h1{

    font-size: 15px;
    margin-right: 5px;
    font-weight: 900;
  }
  .post-discrption p{

    font-size: 15px;
    margin-top: 0px;
  }
  .txt-comments{

    font-size: 13px;
    margin-top: 10px;
    color: grey;
  }
  .inp-comments{

    outline: none;
    border: none;
    font-size: 13px;
    margin-top: 3px;
    color: grey;
    background: transparent;
  }
  .txt-timeMobile{

    display: none;
  }

  .mobileView{

    display: none;
  }

}
@media screen and (min-width:677px) and (max-width:1024px){

  .section-headerMobile{

    display: none;
  }
  .section-navbar {

    position: fixed;
    padding: 20px 0px 0px 10px;
    border-right: solid 1px rgba(89, 84, 84, 0.277);
    width: px;
    height: 100vh;
  }
  .buttons {
  
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
  }
  .buttons img {
  
    height: 25px;
    margin-right: 10px;
  }
  .buttons h1 {
    
    display: none;
    font-size: 18px;
    
  }
  .txt-logo{
      
      display: none;
      margin-bottom: 37px;
      margin-left: 10px;
      padding-top: 20px;
  }
  .img-logo{
  
      margin-bottom: 37px;
      /* margin-left: 10px; */
      padding-top: 20px;
  }
  .button-thread{
  
      margin-top: 70px;
  }

  .section-body{

    width: 90%;
    height: 100%;
    /* background-color: lightcyan; */
    position: absolute;
    left: 70px;
  }
  .section-center{

    width:100% ;
    height: 100%;
    /* background-color: lightcoral; */
  }

  .section-story{

    width: 90%;
    display: flex;
    height: 120px;
    overflow: scroll;
    /* background: lightseagreen; */
    /* margin-left: 170px; */
    padding-top: 15px;
  }
  .section-story::-webkit-scrollbar{

    display: none;
  }
  .user-story{

    width: 90px;
    height: 100%;
    display: flex;
    margin-right: 5px;
    margin-left: 5px;
    flex-direction: column;
    align-items: center;
  }
  .story-outer{

    background: linear-gradient(to right, #f99b4a,#c92d8c);
    height: 65px;
    height: 65px;
    border-radius: 100%;
    padding: 2px;
  }
  .user-story img{

    height: 65px;
    border-radius: 50%;
  }
  .user-story p{

    font-size: 13px;
    margin-top: 10px;
  }
  .my-story{
    display: none;
  }
  .section-suggestion{
    
    display: none;
    width: 30%;
    height: 100%;
    /* background-color: brown; */
  }
  .section-post{
    
    width: 450px;
    height: 710px;
    margin-left: 100px;
    /* background-color: #f99b4a; */
  }
  .post{

    border-bottom: solid 1px rgba(128, 128, 128, 0.282);
    margin-bottom: 10px;
    padding-bottom: 20px;
  }
  .post-header {

    display: flex;
    padding: 10px 0px 0px 5px;
  }
  .img-profile{

    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
  }
  .div-username{

    display: flex;
  }
  .txt-username{

    font-size: 15px;
    padding: 5px;
  }
  .icon-verify{
   
    display: none;
    height: 13px;
    margin-top: 8px;
    width: 13px;
  }
  .txt-time{

    font-size: 14px;
    margin-top: 5px;
  }
  .txt-location{

    font-size: 12px;
    margin-left: 4px;
  }
  .icon-menu{

    margin: 10px 0px 0px  305px;
    height: 25px;
    width: 25px;
  }
  .icon-menuMobile{

    display: none;
  }
  .post-body img{

    width: 100%;
    height: 500px;
    margin-top: 10px;
    border-radius: 5px;
  }
  .icons{

    width: 23px;
    height: 23px;
    margin-right: 10px;
    margin-top: 7px;
  }
  .icon-like{

    margin-left: 2px;
  }
  .icon-share{

    margin-right: 323px;
  }
  .icon-save{

    width: 23px;
    height: 23px;
    margin-top: 7px;
  }
  .txt-likes{

    margin-top: 10px;
    font-weight: 600;
  }
  .post-discrption{

    display: flex;
    margin-top: 5px;
  }
  .post-discrption h1{

    font-size: 15px;
    margin-right: 5px;
    font-weight: 900;
  }
  .post-discrption p{

    font-size: 15px;
    margin-top: 0px;
  }
  .txt-comments{

    font-size: 13px;
    margin-top: 10px;
    color: grey;
  }
  .inp-comments{

    outline: none;
    border: none;
    font-size: 13px;
    margin-top: 3px;
    color: grey;
    background: transparent;
  }
  .txt-timeMobile{

    display: none;
  }

  .mobileView{

    display: none;
  }

}

@media screen and (min-width:1025px) and (max-width:1347px){
   
  .section-headerMobile{

    display: none;
  }
  .section-navbar {

    position: fixed;
    padding: 20px 0px 0px 10px;
    border-right: solid 1px rgba(89, 84, 84, 0.277);
    width: 200px;
    height: 100vh;
  }
  .buttons {
  
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
  }
  .buttons img {
  
    height: 25px;
    margin-right: 10px;
  }
  .buttons h1 {
  
    font-size: 18px;
    
  }
  .txt-logo{
  
      margin-bottom: 37px;
      margin-left: 10px;
      padding-top: 20px;
  }
  .img-logo{
      
      display: none;
      margin-bottom: 37px;
      margin-left: 10px;
      padding-top: 20px;
  }
  .button-thread{
  
      margin-top: 70px;
  }
  
  .section-body{

    width: 85%;
    height: 100%;
    /* background-color: lightcyan; */
    position: absolute;
    left: 210px;
    display: flex;
  }
  .section-center{

    width:70% ;
    height: 100%;
    /* background-color: lightcoral; */
  }
  .section-story{

    width: 71%;
    display: flex;
    height: 120px;
    overflow: scroll;
    margin-left: 110px;
    padding-top: 15px;
  }
  .section-story::-webkit-scrollbar{

    display: none;
  }
  .user-story{

    width: 90px;
    height: 100%;
    display: flex;
    margin-right: 5px;
    margin-left: 5px;
    flex-direction: column;
    align-items: center;
  }
  .story-outer{

    background: linear-gradient(to right, #f99b4a,#c92d8c);
    height: 65px;
    height: 65px;
    border-radius: 100%;
    padding: 2px;
  }
  .user-story img{

    height: 65px;
    border-radius: 50%;
  }
  .user-story p{

    font-size: 13px;
    margin-top: 10px;
  }
  .my-story{
    display: none;
  }
  .section-post{
    
    width: 450px;
    height: 710px;
    margin-left: 150px;
  }
  .post{

    border-bottom: solid 1px rgba(128, 128, 128, 0.282);
    margin-bottom: 10px;
    padding-bottom: 20px;
  }
  .post-header {

    display: flex;
    padding: 10px 0px 0px 5px;
  }
  .img-profile{
    
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
  }
  .div-username{
    
    display: flex;
  }
  .txt-username{
    
    font-size: 15px;
    padding: 5px;
  }
  .icon-verify{
    
    display: none;
    height: 13px;
    margin-top: 8px;
    width: 13px;
  }
  .txt-time{
    
    font-size: 14px;
    margin-top: 5px;
  }
  .txt-location{

    font-size: 12px;
    margin-left: 4px;
  }
  .icon-menu{
    
    margin: 10px 0px 0px  305px;
    height: 25px;
    width: 25px;
  }
  .icon-menuMobile{
    
    display: none;
  }
  .post-body img{
    
    width: 100%;
    height: 500px;
    margin-top: 10px;
    border-radius: 5px;
  }
  .icons{

    width: 23px;
    height: 23px;
    margin-right: 10px;
    margin-top: 7px;
  }
  .icon-like{
    
    margin-left: 2px;
  }
  .icon-share{
    
    margin-right: 323px;
  }
  .icon-save{
    
    width: 23px;
    height: 23px;
    margin-top: 7px;
  }
  .txt-likes{
    
    margin-top: 10px;
    font-weight: 600;
  }
  .post-discrption{
    
    display: flex;
    margin-top: 5px;
  }
  .post-discrption h1{
    
    font-size: 15px;
    margin-right: 5px;
    font-weight: 900;
  }
  .post-discrption p{
    
    font-size: 15px;
    margin-top: 0px;
  }
  .txt-comments{
    
    font-size: 13px;
    margin-top: 10px;
    color: grey;
  }
  .inp-comments{
    
    outline: none;
    border: none;
    font-size: 13px;
    margin-top: 3px;
    color: grey;
    background: transparent;
  }
  .txt-timeMobile{
    
    display: none;
  }
  
  .section-suggestion{
  
    width: 30%;
    height: 600px;
    padding-top:20px;
    /* background-color: brown; */
  }
  .suggestion-header{

    display: flex;
    margin: 15px 0px 5px 0px;
  }
  .suggestion-header-txt1{

    font-size: 12px;
    color: grey;
  }
  .suggestion-header-txt2{

    font-size: 12px;
    color: grey;
    margin-left: 132px;
  }
  .users{

    display: flex;
    padding: 10px 0px 10px 0px;
    align-items: center;
  }
  .users img{
    
    width: 40px;
    border-radius: 50%;
  }
  .users h1{
    
    font-size: 15px;
    margin-left: 10px;
  }
  .switch{

    margin-left: 150px;
    font-size: 12px;
    color: #004ef6;
  }
  .follow{

    margin-left: 100px;
    font-size: 12px;
    color: #004ef6;
  }
  .txt-forYou{

    font-size: 10px;
    color: grey ;
    margin: 5px 0px 0px 10px;
  }
  .txt-about{

    margin-top: 20px;
    color: grey;
  }
  .txt-about a{

    font-size: 12px;
    text-decoration: none;
  }
  .txt-about a:hover{

    text-decoration: underline;
  }

  .mobileView{

    display: none;
  }
  
}
@media screen and (min-width:1348px){
   
  .section-headerMobile{

    display: none;
  }
  .section-navbar {

    position: fixed;
    padding: 20px 0px 0px 10px;
    border-right: solid 1px rgba(89, 84, 84, 0.277);
    width: 200px;
    height: 100vh;
  }
  .buttons {
  
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
  }
  .buttons img {
  
    height: 25px;
    margin-right: 10px;
  }
  .buttons h1 {
  
    font-size: 18px;
    
  }
  .txt-logo{
  
      margin-bottom: 37px;
      margin-left: 10px;
      padding-top: 20px;
  }
  .img-logo{
      
      display: none;
      margin-bottom: 37px;
      margin-left: 10px;
      padding-top: 20px;
  }
  .button-thread{
  
      margin-top: 70px;
  }
  
  .section-body{

    width: 85%;
    height: 100%;
    /* background-color: lightcyan; */
    position: absolute;
    left: 210px;
    display: flex;
  }
  .section-center{

    width:70% ;
    height: 100%;
    /* background-color: lightcoral; */
  }
  .section-story{

    width: 69%;
    display: flex;
    height: 120px;
    overflow: scroll;
    /* background: lightseagreen; */
    margin-left: 170px;
    padding-top: 15px;
  }
  .section-story::-webkit-scrollbar{

    display: none;
  }
  .user-story{

    width: 90px;
    height: 100%;
    display: flex;
    margin-right: 5px;
    margin-left: 5px;
    flex-direction: column;
    align-items: center;
  }
  .story-outer{

    background: linear-gradient(to right, #f99b4a,#c92d8c);
    height: 65px;
    height: 65px;
    border-radius: 100%;
    padding: 2px;
  }
  .user-story img{

    height: 65px;
    border-radius: 50%;
  }
  .user-story p{

    font-size: 13px;
    margin-top: 10px;
  }
  .my-story{
    display: none;
  }
  .section-post{
    
    width: 450px;
    height: 710px;
    margin-left: 250px;
    /* background-color: #f99b4a; */
  }
  .post{

    border-bottom: solid 1px rgba(128, 128, 128, 0.282);
    margin-bottom: 10px;
    padding-bottom: 20px;
  }
  .post-header {

    display: flex;
    padding: 10px 0px 0px 5px;
  }
  .img-profile{
    
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
  }
  .div-username{
    
    display: flex;
  }
  .txt-username{
    
    font-size: 15px;
    padding: 5px;
  }
  .icon-verify{
    
    display: none;
    height: 13px;
    margin-top: 8px;
    width: 13px;
  }
  .txt-time{
    
    font-size: 14px;
    margin-top: 5px;
  }
  .txt-location{

    font-size: 12px;
    margin-left: 4px;
  }
  .icon-menu{
    
    margin: 10px 0px 0px  305px;
    height: 25px;
    width: 25px;
  }
  .icon-menuMobile{
    
    display: none;
  }
  .post-body img{
    
    width: 100%;
    height: 500px;
    margin-top: 10px;
    border-radius: 5px;
  }
  .icons{

    width: 23px;
    height: 23px;
    margin-right: 10px;
    margin-top: 7px;
  }
  .icon-like{
    
    margin-left: 2px;
  }
  .icon-share{
    
    margin-right: 323px;
  }
  .icon-save{
    
    width: 23px;
    height: 23px;
    margin-top: 7px;
  }
  .txt-likes{
    
    margin-top: 10px;
    font-weight: 600;
  }
  .post-discrption{
    
    display: flex;
    margin-top: 5px;
  }
  .post-discrption h1{
    
    font-size: 15px;
    margin-right: 5px;
    font-weight: 900;
  }
  .post-discrption p{
    
    font-size: 15px;
    margin-top: 0px;
  }
  .txt-comments{
    
    font-size: 13px;
    margin-top: 10px;
    color: grey;
  }
  .inp-comments{
    
    outline: none;
    border: none;
    font-size: 13px;
    margin-top: 3px;
    color: grey;
    background: transparent;
  }
  .txt-timeMobile{
    
    display: none;
  }
  
  .section-suggestion{
  
    width: 30%;
    height: 600px;
    padding-top:20px;
    /* background-color: brown; */
  }
  .suggestion-header{

    display: flex;
    margin: 15px 0px 5px 0px;
  }
  .suggestion-header-txt1{

    font-size: 12px;
    color: grey;
  }
  .suggestion-header-txt2{

    font-size: 12px;
    color: grey;
    margin-left: 132px;
  }
  .users{

    display: flex;
    padding: 10px 0px 10px 0px;
    align-items: center;
  }
  .users img{
    
    width: 40px;
    border-radius: 50%;
  }
  .users h1{
    
    font-size: 15px;
    margin-left: 10px;
  }
  .switch{

    margin-left: 150px;
    font-size: 12px;
    color: #004ef6;
  }
  .follow{

    margin-left: 100px;
    font-size: 12px;
    color: #004ef6;
  }
  .txt-forYou{

    font-size: 10px;
    color: grey ;
    margin: 5px 0px 0px 10px;
  }
  .txt-about{

    margin-top: 20px;
    color: grey;
  }
  .txt-about a{

    font-size: 12px;
    text-decoration: none;
  }
  .txt-about a:hover{

    text-decoration: underline;
  }

  .mobileView{

    display: none;
  }
  
}
